* {
    box-sizing: border-box;
}

.big-image {
    width: 100%;
    max-width: 70rem;
}


.big-gift-card-container {
    position: relative;  
}

.prev, .next {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    border-radius: 3px 0 0 3px;
    transform: translateY(-50%);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}  

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dots {
    text-align: center;
    margin-top: 2rem;
    display: none;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
}

.text-container {
    width: 100%;
    max-width: 70rem;
    padding: 4rem 4rem 0;
    background-color: #F9E795;
    color: #FF00FF;
    max-height: 70rem;
}

.active {
    background-color: #000;
    color: #fff;
}

@media (max-width: 780px) {
    .text-container {
        max-height: unset;
    }
    .text-container > h1 {
        text-align: center;
    }
    .small-gift-card-container {
        display: none;
    }
    .prev, .next {
        display: block;
    }
    .dots {
        display: block;
    }
    .gift-card-container {
        gap: 2rem;
    }
}